$gradientColor1: #03DAC5;
$gradientColor2: #3E4095;
$customColor1: rgb(218, 237, 135);

$textColorBlack: black;
$textColorWhite: white;
$textColorRed: red;


// Fonts Import

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Montserrat:wght@200&family=Nunito:wght@300&family=Playfair+Display&display=swap');

// font-family: 'Inter', sans-serif;
// font-family: 'Montserrat', sans-serif;
// font-family: 'Nunito', sans-serif;
// font-family: 'Playfair Display', serif;