@import "../cssVariables/cssVariables.scss";

.fetcher3 {
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    align-items: center;
    background-image: url(../../../public/assets/aboutBg.png);
}

.fetcher3Text {
    align-content: center;
    font-family: 'Inter', sans-serif;
    margin: 20px;
    padding: 10px;
    width: 80%;
}

.fetcher3Text p {
    font-size: 2rem;
    font-weight: 400;
}

.docImgDiv img {
    width: 85%;
}

@media only screen and (min-width: 351px) and (max-width: 991px) {
    
}

@media only screen and (min-width: 100px) and (max-width: 350px) { 

}
