@import '../cssVariables/cssVariables.scss';

.footer {
    height: 30vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-position-y: bottom;
    // background-color: aquamarine;
    background: 100%;
    // background-image: url('../../../public/assets/bottom-background.svg');
    background: linear-gradient(94.43deg, #54E6D8 -14.68%, #3E4095 87%);
}

.subDivText {
    text-align: left;
    width: 27rem;
    font-weight: 800;
    font-family: 'Montserrat', sans-serif;
}

.emailInput {
    width: 25rem;
    height: 3rem;
    border: 2px;
    opacity: 0.32;
    border: 1.36028px solid #000000;
    color: black;
    border-bottom-left-radius: 16.3234px;
    border-top-left-radius: 16.3234px;
}

::placeholder {
    color: black;
  }
  

.subButton {
    margin-right: -90px;
    margin-left: 0px;
    width: 7rem;
    height: 3rem;
    border-top-right-radius: 12.2425px;
    border-bottom-right-radius: 12.2425px;
    background: #5BCCF6;
}

.downDivText {
    text-align: right;
    width: 27rem;
    font-weight: 900;
    font-family: 'Montserrat', sans-serif;
}

.downDivText p {
    font-weight: bold;
    margin-left: 250px;
}

.socialDiv{
    margin-left: 320px;
    margin-top: 20px;
}

.socialIcon{
    width: auto;
    height: 32.82px;
    margin: 0.3rem;
}

@media only screen and (min-width: 351px) and (max-width: 991px) {
    
}

@media only screen and (min-width: 100px) and (max-width: 350px) { 

}
